*{margin: 0;padding: 0;text-decoration: none;list-style: none;}
html {
    scroll-behavior: smooth;
}
.guide_wrap{
  position: fixed;
  right: 122px;
  margin-bottom: 400px;
}
.guide_wrap1{
  position: fixed;
  right: 125px;
  margin-bottom: 250px;
}
.guide_wrap2{
  position: fixed;
  right: 119px;
  margin-bottom: 100px;
}
.guide_wrap3{
  position: fixed;
  right: 103px;
  margin-top: 50px;
}
.guide_wrap4{
  position: fixed;
  right: 85px;
  margin-top: 200px;
}
.guide_wrap5{
  position: fixed;
  right: 128px;
  margin-top: 350px;
}
.bg{
  width: 100%;
  height: 100vh;
  background-image: url('./img/bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo_1{
  width: 287px;
  height: 190px;
  position: relative;
  border: px solid red;
  left: 600px;
  bottom: 300px;
}
.test_1{
  width: 1201px;
  height: 240px;
  position: relative;
  border: px solid red;
  top:120px;
  right: 150px;

}
.bg1{
  width: 100%;
  height: 1080px;
  background-color: #240E35;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg_1{
  width: 1200px;
  height: 971px;
  position: relative;
  border: px solid red;
}
  .bg2{
    width: 100%;
    height: 700px;
    background-color: #240E35;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg_2{
    width: 690px;
    height: 537px;
    position: relative;
    border: px solid red;
    left: 150px;
  }
  .bg3{
    width: 100%;
    height: 380px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg_3{
    width: 735px;
    height: 147px;
    position: relative;
    border: px solid red;
    bottom: 50px;
    left: 150px;
  }
  .bg4{
    width: 100%;
    height: 2310px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: px solid red;
  }
  .bg_4{
    width: 832px;
    height: 935px;
    position: relative;
    border: px solid red;
    left: 410px;
    bottom: 685px;
  }.bg_5{
    width: 1201px;
    height: 1256px;
    position: relative;
    border: px solid red;
    right: 425px;
    top: 330px;
  }
  .bg5{
    width: 100%;
    height: 3329px;
    background-color: #240E35;
    display: flex;
    justify-content: center;
    align-items: center;
    border: px solid red;
  }
  .bg_6{
    width: 1201px;
    height: 1610px;
    position: relative;
    border: px solid red;
    bottom: 750px;
    left: 595px;
  }.bg_7{
    width: 1201px;
    height: 1467px;
    position: relative;
    border: px solid red;
    top: 900px;
    right: 608px;
  }
  .bg6{
    width: 100%;
    height: 1808px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: px solid red;
  }
  .bg_8{
    width: 1110px;
    height: 966px;
    position: relative;
    border: px solid red;
    bottom: 330px;
    left: 700px;
  }
  .bg_8_1{
  width: 1171px;
  height: 761px;
  position: relative;
  border: px solid red;
  top: 350px;
  right: 535px;
  }
  .bg7{
    width: 100%;
    height: 3353px;
    background-color: #240E35;
    border: px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg7_1{
    width: 100%;
    height: 2021px;
    background-color: #240E35;
    border: px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg_9{
    width: 1188px;
    height: 1927px;
    position: relative;
    border: px solid red;
    bottom: 500px;
    left: 390px;
  }
  .bg_10{
    width: 782px;
    height: 910px;
    position: relative;
    border: px solid red;
    top: 1100px;
    right: 450px;
  }
  .bg_11{
    width: 859x;
    height: 1001px;
    position: relative;
    border: px solid red;
    bottom: 400px;
    left: 390px;
  }
  .bg_11_1{
    width: 1093px;
    height: 1118px;
    position: relative;
    border: px solid red;
    top: 320px;
    right: 375px;
  }
  .bg8{
    width: 100%;
    height: 6624px;
    background-color: #FFFFFF;
    border: px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg_12{
    width: 1201px;
    height: 2031px;
    position: relative;
    border: px solid red;
    bottom: 2100px;
    left: 1195px;
}
.bg_13{
  width: 1166px;
  height: 2013px;
  position: relative;
  border: px solid red;
  top: 100px;
  left: 25px;
}
.bg_14{
  width: 1201px;
  height: 1916px;
  position: relative;
  border: px solid red;
  right: 1180px;
  top: 2300px;
}
.bg9{
  width: 100%;
  height: 1528px;
  background-color: #240E35;
  display: flex;
  justify-content: center;
  align-items: center;
  border: px solid red;
}
.bg_15{
  width: 1063px;
  height: 1260px;
  position: relative;
  border: px solid red;
  bottom: 50px;
  right: 50px;
}
.bg10{
  width: 100%;
  height: 632px;
  background-color: #240E35;
  display: flex;
  justify-content: center;
  align-items: center;
  border: px solid red;
}
.bg_16{
  width: 435px;
  height: 435px;
  position: relative;
  border: px solid red;
  left: 390px;
  top: 100px;
}
.bg11{
  width: 100%;
  height: 998px;
  background-color: #240E35;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg11 iframe{
  margin-top: 200px;
}
.bg12{
  width: 100%;
  height: 520px;
  background-color: #240E35;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: px solid red;
}
.bg12 iframe{
  margin-left: 50px;
  margin-right: 50px;
}
.bg13{
  width: 100%;
  height: 640px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: px solid red;
}
.bg_17{
  width: 370px;
  height: 370px;
  position: relative;
  border: px solid red;
  right: 420px;
}
.bg14{
  width: 100%;
  height: 980px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: px solid red;
}
.bg_18{
  display: flex;
  justify-content: center;
  align-items: center;
}
